@iterations: 12;

.span-loop (@i) when (@i > 0) {
  .zone-admin-panels.zone-count-@{i} .panel-region {
    width: percentage((0.97 / @i));
  }
  .span-loop(@i - 1);
}
.span-loop (@iterations);

.zone-admin-panels{
  clear: both;
  padding-top: 20px;
  .panel-region {
    float: left;
    padding-right: 0 !important;
  }
}

#panels-dnd-main .zone-admin-panels.zone-count-1 > div:last-child{
  float: none;
}

#panels-dnd-main{
  padding-bottom: 30px;
}

#edit-settings-bootstrap .form-type-select{
  float: left;
  margin-right: 10px;
}


#panels-panel-context-edit-content {
  .form-actions {
    clear: both;
  }
}