.zone-admin-panels.zone-count-12 .panel-region {
  width: 8.08333333%;
}
.zone-admin-panels.zone-count-11 .panel-region {
  width: 8.81818182%;
}
.zone-admin-panels.zone-count-10 .panel-region {
  width: 9.7%;
}
.zone-admin-panels.zone-count-9 .panel-region {
  width: 10.77777778%;
}
.zone-admin-panels.zone-count-8 .panel-region {
  width: 12.125%;
}
.zone-admin-panels.zone-count-7 .panel-region {
  width: 13.85714286%;
}
.zone-admin-panels.zone-count-6 .panel-region {
  width: 16.16666667%;
}
.zone-admin-panels.zone-count-5 .panel-region {
  width: 19.4%;
}
.zone-admin-panels.zone-count-4 .panel-region {
  width: 24.25%;
}
.zone-admin-panels.zone-count-3 .panel-region {
  width: 32.33333333%;
}
.zone-admin-panels.zone-count-2 .panel-region {
  width: 48.5%;
}
.zone-admin-panels.zone-count-1 .panel-region {
  width: 97%;
}
.zone-admin-panels {
  clear: both;
  padding-top: 20px;
}
.zone-admin-panels .panel-region {
  float: left;
  padding-right: 0 !important;
}
#panels-dnd-main .zone-admin-panels.zone-count-1 > div:last-child {
  float: none;
}
#panels-dnd-main {
  padding-bottom: 30px;
}
#edit-settings-bootstrap .form-type-select {
  float: left;
  margin-right: 10px;
}
#panels-panel-context-edit-content .form-actions {
  clear: both;
}
